@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Typography */
    --serif: 'Pharmount Personal Use Only', serif;
    --sans: 'Arial', sans-serif;

    /* Colors */
    --primary: #2b5162;
    --secondary: #008080;
    --tertiary: #334046;
    --danger: #b20000;
    --danger-dark: #bb0101;
    --brown: #cd5700;
    --white: #fff;
    --black: #000;
    --light-gray: #f6f6f6;
    --light-grays: #f3f6f6;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--black);
    list-style: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}
